html{
  background-color: #EEEEEE
}
header {
  width: 100%;
  height: 60px;
}
.header_inner {
  width: 960px;
  padding: 20px 0;
  margin: auto;
}
.main_logo {
  width: 110px;
  display: inline-block;
}
.add_article {
  float: right;
  top: -7px;
}
.fab__actions--left {
  right: 40px;
  bottom: 0;
}
.btn--fab.btn--cyan {
  color: #FFFFFF;
}
.text-field--is-focus:not(.text-field--fixed-label) .text-field__label {
  color: #00BCD4;
}
.text-field:after {
  background-color: #00BCD4;
}
.list-row__content {
  padding-right: 5px;
}
.content {
  width: 960px;
  margin: 0 auto;
  background: #FFFFFF;
}