<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <!-- main-gallery of the page -->
        <section class="main-gallery">
          <div class="mask">
            <div class="slideset">
              <div class="slide">
                <div class="bg-stretch"><img src="http://placehold.it/2000x1420" alt="image description"/></div>
                <div class="post-over">
                  <div class="box">
                    <div class="block">
                      <h1 class="heading"><a href="carousel-post.html">FEATURED CAROUSEL POSTS</a></h1>
                      <ul class="add-nav list-inline">
                        <li>by <a href="#">Admin</a></li>
                        <li><time datetime="2015-01-01">Aug 28, 2015</time></li>
                        <li><a href="#">TRAVELING</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="slide">
                <div class="bg-stretch"><img src="http://placehold.it/2000x1420" alt="image description"/></div>
                <div class="post-over">
                  <div class="box">
                    <div class="block">
                      <h2 class="heading"><a href="carousel-post.html">FEATURED CAROUSEL POSTS</a></h2>
                      <ul class="add-nav list-inline">
                        <li>by <a href="#">Admin</a></li>
                        <li><time datetime="2015-01-01">Aug 28, 2015</time></li>
                        <li><a href="#">TRAVELING</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="slide">
                <div class="bg-stretch"><img src="http://placehold.it/2000x1420" alt="image description"/></div>
                <div class="post-over">
                  <div class="box">
                    <div class="block">
                      <h2 class="heading"><a href="carousel-post.html">FEATURED CAROUSEL POSTS</a></h2>
                      <ul class="add-nav list-inline">
                        <li>by <a href="#">Admin</a></li>
                        <li><time datetime="2015-01-01">Aug 28, 2015</time></li>
                        <li><a href="#">TRAVELING</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="btn-prev" href="#"><i class="fa fa-angle-left"></i></a>
          <a class="btn-next" href="#"><i class="fa fa-angle-right"></i></a>
        </section>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-xs-12 two-cols">
      <div class="row">
        <!-- main-gallery of the page -->
        <section class="main-gallery">
          <div class="mask">
            <div class="slideset">
              <div class="slide">
                <div class="bg-stretch"><img src="http://placehold.it/950x450" alt="image description"/></div>
                <div class="post-over">
                  <div class="box">
                    <div class="block">
                      <h2><a href="post.html">GALLERY POST</a></h2>
                      <ul class="add-nav list-inline">
                        <li>by <a href="#">Admin</a></li>
                        <li><time datetime="2015-01-01">Aug 28, 2015</time></li>
                        <li><a href="#">TRAVELING</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="slide">
                <div class="bg-stretch"><img src="http://placehold.it/950x450" alt="image description"/></div>
                <div class="post-over">
                  <div class="box">
                    <div class="block">
                      <h2><a href="post.html">GALLERY POST</a></h2>
                      <ul class="add-nav list-inline">
                        <li>by <a href="#">Admin</a></li>
                        <li><time datetime="2015-01-01">Aug 28, 2015</time></li>
                        <li><a href="#">TRAVELING</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="slide">
                <div class="bg-stretch"><img src="http://placehold.it/950x450" alt="image description"/></div>
                <div class="post-over">
                  <div class="box">
                    <div class="block">
                      <h2><a href="post.html">GALLERY POST</a></h2>
                      <ul class="add-nav list-inline">
                        <li>by <a href="#">Admin</a></li>
                        <li><time datetime="2015-01-01">Aug 28, 2015</time></li>
                        <li><a href="#">TRAVELING</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="btn-prev" href="#"><i class="fa fa-angle-left"></i></a>
          <a class="btn-next" href="#"><i class="fa fa-angle-right"></i></a>
        </section>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12 two-cols">
      <div class="row">
        <!-- banner-gallery of the page -->
        <article class="banner-gallery trending">
          <div class="bg-stretch"><img src="http://placehold.it/950x450" alt="image description"/></div>
          <div class="post-over">
            <div class="box">
              <div class="block">
                <h2><a href="post.html">TRENDING POST</a></h2>
                <ul class="add-nav list-inline">
                  <li>by <a href="#">Admin</a></li>
                  <li><time datetime="2015-01-01">Aug 28, 2015</time></li>
                  <li><a href="#">TRAVELING</a></li>
                </ul>
                <a href="" class="btn-flash"><i class="fa fa-bolt"></i></a>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
  <!-- three-cols of the page -->
    <div class="col-sm-4 col-xs-12 three-cols">
      <div class="row">
        <!-- banner-gallery of the page -->
        <div class="banner-gallery">
          <div class="bg-stretch"><img src="http://placehold.it/634x360" alt="image description"/></div>
          <div class="post-over quotes">
            <div class="box">
              <div class="block">
                <!-- post-quotes of the page -->
                <blockquote class="post-quotes">
                  <p><a href="post.html">&ldquo;QUOTES ARE AMAZING&rdquo;</a></p>
                  <footer><cite title="Source Title">John Doe</cite></footer>
                </blockquote>
                <ul class="add-nav list-inline">
                  <li><time datetime="2015-01-01">Aug 28, 2015</time></li>
                  <li>QUOTE</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- three-cols of the page -->
    <div class="col-sm-4 col-xs-12 three-cols">
      <div class="row">
        <!-- banner-gallery of the page -->
        <article class="banner-gallery">
          <div class="bg-stretch"><img src="http://placehold.it/634x360" alt="image description"/></div>
          <div class="post-over">
            <div class="box">
              <div class="block">
                <h3><a href="http://themeforest.net">LINK POST</a></h3>
                <ul class="add-nav list-inline">
                  <li>by <a href="#">Admin</a></li>
                  <li><time datetime="2015-01-01">Aug 28, 2015</time></li>
                  <li><a href="#">TRAVELING</a></li>
                </ul>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
    <!-- three-cols of the page -->
    <div class="col-sm-4 col-xs-12 three-cols">
      <div class="row">
        <!-- banner-gallery of the page -->
        <article class="banner-gallery">
          <div class="bg-stretch"><img src="http://placehold.it/634x360" alt="image description"/></div>
          <div class="post-over">
            <div class="box">
              <div class="block">
                <h3><a href="post.html">DEFAULT POST</a></h3>
                <ul class="add-nav list-inline">
                  <li>by <a href="#">Admin</a></li>
                  <li><time datetime="2015-01-01">Aug 28, 2015</time></li>
                  <li><a href="#">TRAVELING</a></li>
                </ul>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <!-- fullwidth-post of the page -->
    <article class="col-xs-12 fullwidth-post">
      <div class="row">
        <!-- banner-gallery of the page -->
        <div class="banner-gallery parallax-holder">
          <div class=" parallax-frame"><img src="http://placehold.it/2000x1333" height="1333" width="2000" alt="Image Description"></div>
          <div class="post-over">
            <div class="box">
              <div class="block">
                <h2><a href="post.html">FULLWIDTH POST</a></h2>
                <ul class="add-nav list-inline">
                  <li>by <a href="#">Admin</a></li>
                  <li><time datetime="2015-01-01">Aug 28, 2015</time></li>
                  <li><a href="#">TRAVELING</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <!-- location-post of the page -->
    <div class="col-sm-4 col-xs-12 location-post">
      <div class="row">
        <!-- banner-gallery of the page -->
        <article class="banner-gallery">
          <div class="bg-stretch"><img src="http://placehold.it/634x470" alt="image description"/></div>
          <div class="post-over">
            <div class="box">
              <div class="block">
                <h2><a href="#">MAP LOCATION</a></h2>
                <ul class="add-nav list-inline">
                  <li>by <a href="#">Admin</a></li>
                  <li><time datetime="2015-01-01">Aug 28, 2015</time></li>
                  <li><a href="#">TRAVELING</a></li>
                </ul>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
    <!-- location-post of the page -->
    <div class="col-sm-8 col-xs-12 location-post">
      <div class="row">
        <!-- banner-gallery of the page -->
        <article class="banner-gallery">
          <div class="bg-stretch"><img src="http://placehold.it/1270x470" alt="image description"/></div>
          <div class="post-over">
            <div class="box">
              <div class="block">
                <h2><a href="video-post.html">VIDEO POST</a></h2>
                <ul class="add-nav list-inline">
                  <li>by <a href="#">Admin</a></li>
                  <li><time datetime="2015-01-01">Aug 28, 2015</time></li>
                  <li><a href="#">TRAVELING</a></li>
                </ul>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <!-- two-cols of the page -->
    <div class="col-sm-6 col-xs-12 two-cols">
      <div class="row">
        <!-- banner-gallery of the page -->
        <article class="banner-gallery review">
          <div class="bg-stretch"><img src="http://placehold.it/950x450" alt="image description"/></div>
          <div class="post-over">
            <div class="box">
              <div class="block">
                <h2><a href="post.html">REVIEW POST</a></h2>
                <ul class="add-nav list-inline">
                  <li>by <a href="#">Admin</a></li>
                  <li><time datetime="2015-01-01">Aug 28, 2015</time></li>
                  <li><a href="#">TRAVELING</a></li>
                </ul>
                <a href="" class="btn-review"><span class="txt">85%</span></a>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
    <!-- two-cols of the page -->
    <div class="col-sm-6 col-xs-12 two-cols">
      <div class="row">
        <!-- banner-gallery of the page -->
        <article class="banner-gallery">
          <div class="bg-stretch"><img src="http://placehold.it/950x450" alt="image description"/></div>
          <div class="post-over">
            <div class="box">
              <div class="block">
                <h2><a href="audio-post.html">AUDIO POST</a></h2>
                <ul class="add-nav list-inline">
                  <li>by <a href="#">Admin</a></li>
                  <li><time datetime="2015-01-01">Aug 28, 2015</time></li>
                  <li><a href="#">TRAVELING</a></li>
                </ul>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>