<!DOCTYPE html>
<html ng-app="adminApp">
	<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<title>ShadyNiks</title>

	<!-- include the site google fonts -->
	<link type="text/css" rel="stylesheet" media="all" href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,100italic,300italic,400italic,700italic,900italic%7cMontserrat%7cCrimson+Text:400,400italic,600,600italic,700,700italic%7cRaleway:400,200,300,500,600,700,800,900%7cMerriweather:400,300italic,300,400italic,700,700italic,900'>
	<!-- include bootstrap's stylesheet -->
	<link rel="stylesheet" type="text/css" href="/admin/css/lumx.css">
	<link rel="stylesheet" type="text/css" href="/admin/css/base.css">
	<script type="text/javascript" src="/admin/js/jquery.min.js"></script>
	<script type="text/javascript" src="/admin/js/velocity.min.js"></script>
	<script type="text/javascript" src="/admin/js/moment-with-locales.min.js"></script>
	<script type="text/javascript" src="/admin/js/angular.min.js"></script>
	<script type="text/javascript" src="/admin/js/lumx.min.js"></script>
	<script type="text/javascript" src="/admin/js/underscore.js"></script>
	<script type="text/javascript" src="/admin/js/app.js"></script>
	<script type="text/javascript" src="/admin/js/directives.js"></script>
	<script type="text/javascript" src="/admin/js/controllers.js"></script>
	<script type="text/javascript" src="/admin/js/services.js"></script>
	</head>
	<body ng-controller="adminController">
		<%= yield %>
	</body>
</html>